[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pyshp = "*"
matplotlib = "*"
earthpy = "*"
geopandas = "*"
numpy = "*"
requests-xml = "*"

[requires]
python_version = "3.7"
